---
import First from "../components/steps/First.astro";
import Second from "../components/steps/Second.astro";
import Third from "../components/steps/Third.astro";
import Fourth from "../components/steps/Fourth.astro";
import Fifth from "../components/steps/Fifth.astro";
import Sixfth from "../components/steps/Sixfth.astro";
import Seventh from "../components/steps/Seventh.astro";
import Eighth from "../components/steps/Eighth.astro";
import Nineth from "../components/steps/Nineth.astro";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isaev: Редизайн формы</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <style>
      .container {
        @apply max-w-3xl mx-auto;
      }
      input:focus {
        outline: none;
      }
    </style>
  </head>

  <body>
    <!-- spacing -->
    <div class="py-7"></div>

    <!-- header -->
    <div class="container p-5 space-y-1">
      <div class="text-3xl">Isaev: Редизайн формы</div>
      <div class="text-neutral-500">
        Оригинал формы <a
          href="https://isaev.ca/ru/driverslicence"
          class="hover:underline text-primary">здесь</a
        >.
      </div>
      <div class="text-neutral-500">
        © <a href="https://mckoda09.ru" class="hover:underline text-primary"
          >mckoda09</a
        >.
      </div>
    </div>

    <!-- colors -->
    <div class="container p-5 space-y-5">
      <div class="text-3xl">Цвета</div>
      <div class="flex gap-7 flex-wrap">
        <div class="text-center space-y-2">
          <div class="bg-primary size-14 rounded-lg"></div>
          <div>
            <div class="text-sm text-neutral-500">primary</div>
            <div class="text-sm text-neutral-500">#374aa8</div>
          </div>
        </div>
        <div class="text-center space-y-2">
          <div class="bg-text size-14 rounded-lg"></div>
          <div>
            <div class="text-sm text-neutral-500">text</div>
            <div class="text-sm text-neutral-500">#161a38</div>
          </div>
        </div>
        <div class="text-center space-y-2">
          <div class="bg-white size-14 rounded-lg border"></div>
          <div>
            <div class="text-sm text-neutral-500">bg</div>
            <div class="text-sm text-neutral-500">#ffffff</div>
          </div>
        </div>
      </div>
    </div>

    <!-- form page -->
    <div class="container p-5 space-y-3">
      <div class="text-3xl">Этапы формы</div>

      <First />
      <Second />
      <Third />
      <Fourth />
      <Fifth />
      <Sixfth />
      <Seventh />
      <Eighth />
      <Nineth />
    </div>
  </body>
</html>
