<!-- step 1 -->
<div class="border p-5 rounded-lg space-y-5 text-text">
  <!-- header -->
  <div class="space-y-2">
    <div class="text-sm text-neutral-500">8 из 9</div>
    <div class="grid grid-cols-9">
      <div class="border border-primary col-span-8"></div>
      <div class="border col-span-1"></div>
    </div>
  </div>

  <!-- questions -->
  <div class="space-y-3">
    <div class="text-xl font-semibold">
      8. Обычно переводы готовы через 1-3 дня. Если они вам понадобятся быстрее,
      цену придётся удвоить. Если у вас есть конкретные сроки, пожалуйста,
      укажите их.
    </div>
    <div class="space-y-1">
      <div class="space-y-1 py-3 accent-primary">
        <div class="flex gap-3">
          <input type="radio" id="1" /> Устраивает срок 1-3 дня
        </div>
        <div class="flex gap-3">
          <input type="radio" id="1" /> Нужно срочно, готов заплатить в двойном размере
        </div>
      </div>
      <input
        type="text"
        placeholder="Оставьте комментарий по поводу слов"
        class="border px-3 py-1 rounded-lg w-full placeholder-neutral-400 focus:border-primary transition-colors"
      />
    </div>

    <!-- buttons -->
    <div class="flex justify-between">
      <div
        class="px-5 py-2 border border-primary text-primary rounded-lg lg:hover:opacity-95 active:scale-95 transition-all cursor-pointer"
      >
        Назад
      </div>
      <div
        class="px-5 py-2 bg-primary text-white rounded-lg lg:hover:opacity-95 active:scale-95 transition-all cursor-pointer"
      >
        Далее
      </div>
    </div>
  </div>
</div>
