<!-- step 1 -->
<div class="border p-5 rounded-lg space-y-5 text-text">
  <!-- header -->
  <div class="space-y-2">
    <div class="text-sm text-neutral-500">4 из 9</div>
    <div class="grid grid-cols-9">
      <div class="border border-primary col-span-4"></div>
      <div class="border col-span-5"></div>
    </div>
  </div>

  <!-- questions -->
  <div class="space-y-3">
    <div class="text-xl font-semibold">
      4. На каком языке составлен ваш документ?
    </div>
    <div class="space-y-1">
      <div class="text-sm text-neutral-500">Выберите вариант из списка</div>
      <select
        class="border px-3 py-1 rounded-lg w-full placeholder-neutral-400 focus:border-primary transition-colors"
      >
        <option>Русский</option>
        <option>Азербайджанский (латиница)</option>
        <option>Аймара</option>
        <option>Албанский</option>
        <option>Амхарский</option>
        <option>Английский</option>
        <option>Арабский</option>
        <option>Армянский</option>
        <option>Ассамский</option>
        <option>Африкаанс</option>
        <option>Бамбара</option>
        <option>Баскский</option>
        <option>Беларуский (кириллица)</option>
        <option>Бенгальский</option>
        <option>Болгарский</option>
        <option>Боснийский (латиница)</option>
        <option>Бходжпури</option>
        <option>Валлийский</option>
        <option>Венгерский</option>
        <option>Вьетнамский</option>
        <option>Гавайский</option>
        <option>Гаитянский креольский / гаитянский</option>
        <option>Галисийский</option>
        <option>Голландский</option>
        <option>Греческий</option>
        <option>Грузинский</option>
        <option>Гуарани</option>
        <option>Гуджарати</option>
        <option>Датский</option>
        <option>Дивехи (мальдивский, Таана)</option>
        <option>Догри</option>
        <option>Зулу</option>
        <option>Иврит</option>
        <option>Игбо</option>
        <option>Идиш</option>
        <option>Илокано</option>
        <option>Индонезийский</option>
        <option>Индонезийский</option>
        <option>Ирландский</option>
        <option>Исландский</option>
        <option>Испанский</option>
        <option>Итальянский</option>
        <option>Йоруба</option>
        <option>Казахский (кириллица)</option>
        <option>Казахский (латиница)</option>
        <option>Каннада</option>
        <option>Каталанский</option>
        <option>Кечуа</option>
        <option>Киньяруанда</option>
        <option>Киргизский (кириллица)</option>
        <option>Китайский (традиционный)</option>
        <option>Китайский (упрощённый)</option>
        <option>Конкани</option>
        <option>Корейский</option>
        <option>Корсиканский</option>
        <option>Коса</option>
        <option>Крио</option>
        <option>Курдский (Курманджи) (Хавар)</option>
        <option>Курдский (Сорани)</option>
        <option>Кхмерский</option>
        <option>Лаосский</option>
        <option>Латинский</option>
        <option>Латышский</option>
        <option>Лингала</option>
        <option>Литовский</option>
        <option>Луганда</option>
        <option>Люксембургский</option>
        <option>Македонский</option>
        <option>Малагасийский</option>
        <option>Малайский</option>
        <option>Малаялам</option>
        <option>Мальтийский</option>
        <option>Маори</option>
        <option>Маратхи</option>
        <option>Мейтейлон (Манипури)</option>
        <option>Мизо</option>
        <option>Монгольский</option>
        <option>Мьянма / Бирманский</option>
        <option>Немецкий</option>
        <option>Непальский</option>
        <option>Норвежский (букмол)</option>
        <option>Одия (Ория)</option>
        <option>Оромо</option>
        <option>Панджаби</option>
        <option>Папьяменто</option>
        <option>Персидский / Фарси</option>
        <option>Польский</option>
        <option>Португальский</option>
        <option>Пушту</option>
        <option>Румынский (Молдавский)</option>
        <option>Самоанский</option>
        <option>Себуано</option>
        <option>Сепеди</option>
        <option>Сербский (латиница)</option>
        <option>Сесото</option>
        <option>Сингальский </option>
        <option>Синдхи</option>
        <option>Словацкий</option>
        <option>Словенский </option>
        <option>Сомали</option>
        <option>Суахили</option>
        <option>Суданский</option>
        <option>Таджикский (кириллица)</option>
        <option>Тайский</option>
        <option>Тамильский</option>
        <option>Татарский (кириллица)</option>
        <option>Тви</option>
        <option>Телугу</option>
        <option>Тигринья</option>
        <option>Тсонга</option>
        <option>Турецкий</option>
        <option>Туркменский (латиница)</option>
        <option>Узбекский (кириллица)</option>
        <option>Узбекский (латиница)</option>
        <option>Украинский</option>
        <option>Урду</option>
        <option>Филиппинский / Тагальский</option>
        <option>Финский</option>
        <option>Французский</option>
        <option>Фризский</option>
        <option>Хауса</option>
        <option>Хинди</option>
        <option>Хмонг</option>
        <option>Хорватский</option>
        <option>Чешский</option>
        <option>Чичева (латиница)</option>
        <option>Шведский</option>
        <option>Шона</option>
        <option>Шотландский гэльский </option>
        <option>Эсперанто</option>
        <option>Эстонский</option>
        <option>Яванский (латиница)</option>
        <option>Японский</option>
        <option>Другой</option>
      </select>
    </div>

    <!-- buttons -->
    <div class="flex justify-between">
      <div
        class="px-5 py-2 border border-primary text-primary rounded-lg lg:hover:opacity-95 active:scale-95 transition-all cursor-pointer"
      >
        Назад
      </div>
      <div
        class="px-5 py-2 bg-primary text-white rounded-lg lg:hover:opacity-95 active:scale-95 transition-all cursor-pointer"
      >
        Далее
      </div>
    </div>
  </div>
</div>
