<!-- step 1 -->
<div class="border p-5 rounded-lg space-y-5 text-text">
  <!-- header -->
  <div class="space-y-2">
    <div class="text-sm text-neutral-500">2 из 9</div>
    <div class="grid grid-cols-9">
      <div class="border border-primary col-span-2"></div>
      <div class="border col-span-7"></div>
    </div>
  </div>

  <!-- questions -->
  <div class="space-y-3">
    <div class="text-xl font-semibold">2. Фотографии или сканы документов</div>
    <div class="space-y-1">
      <div class="text-sm text-neutral-500">
        Водительское удостоверение (лицевая + обратная стороны) <span
          class="text-red-500">*</span
        >
      </div>
      <div
        class="border text-neutral-500 flex items-center justify-center flex-col gap-1 p-9 rounded-lg w-full"
      >
        <div>Выберите изображения</div>
      </div>
    </div>
    <div class="space-y-1">
      <div class="text-sm text-neutral-500">
        Перевод водительского удостоверения <span class="text-red-500">*</span>
      </div>
      <div
        class="border text-neutral-500 flex items-center justify-center flex-col gap-1 p-9 rounded-lg w-full"
      >
        <div>Выберите изображение</div>
      </div>
    </div>
    <div class="space-y-1">
      <div class="text-sm text-neutral-500">
        Справка о стаже вождения <span class="text-red-500">*</span>
      </div>
      <div
        class="border text-neutral-500 flex items-center justify-center flex-col gap-1 p-9 rounded-lg w-full"
      >
        <div>Выберите изображение</div>
      </div>
    </div>
  </div>

  <!-- buttons -->
  <div class="flex justify-between">
    <div
      class="px-5 py-2 border border-primary text-primary rounded-lg lg:hover:opacity-95 active:scale-95 transition-all cursor-pointer"
    >
      Назад
    </div>
    <div
      class="px-5 py-2 bg-primary text-white rounded-lg lg:hover:opacity-95 active:scale-95 transition-all cursor-pointer"
    >
      Далее
    </div>
  </div>
</div>
